<!doctype html>
<html lang="en">

<head>
    <title>Administrador</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="/CSS/home_admin.css">

    <!-- Bootstrap CSS v5.2.1 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
</head>

<body>

    <nav class="navbar navbar-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="home">NutriPet Healthy</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                        Administrador
                    </h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>

                <div class="info-admin">
                    <img src="/Images/admin.jpeg" class="img-fluid rounded-top" alt="" />
                    <p>Jesus Emmanuel Guzman Covarrubias</p>
                </div>

                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="modal" href=""
                                data-bs-target="#id-modal-configurar-administrador"><i class="fa-solid fa-gear"></i>
                                Configuracion</a>
                        </li>
                        <hr>
                        <li class="nav-item">
                            <a class="nav-link" href="home"><i class="fa-solid fa-right-from-bracket"></i> Cerrar
                                sesion</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="espacio">
        <label for=""></label>
    </div>

    <div class="contenedor-herramientas">

        <div class="herramienta" data-bs-toggle="modal" data-bs-target="#id-modal-agregar-administrador">
            <img src="/Images/add_user.jpg" alt="">
            <p>Agregar administrador</p>
        </div>

        <div class="herramienta" data-bs-toggle="modal" data-bs-target="#id-modal-agregar-producto">
            <img src="/Images/add_product.png" alt="">
            <p>Agregar producto</p>
        </div>

        <div class="herramienta" data-bs-toggle="modal" data-bs-target="#id-modal-eliminar-administrador">
            <img src="/Images/del_user.jpg" alt="">
            <p>Eliminar administrador</p>
        </div>

        <div class="herramienta" data-bs-toggle="modal" data-bs-target="#id-modal-EE-producto">
            <img src="/Images/update.png" alt="">
            <p>Editar/Eliminar producto</p>
        </div>

        <div class="herramienta" data-bs-toggle="modal" data-bs-target="#id-modal-discrepancias">
            <img src="/Images/discrepanse.png" alt="">
            <p>Discrepancias</p>
        </div>

    </div>

    <!-- Modal Agregar Administrador -->
    <div class="modal fade" id="id-modal-agregar-administrador" tabindex="-1" data-bs-backdrop="static"
        data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xmd" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleId">
                        Registrar Administrador
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/home_admin" method="POST" enctype="multipart/form-data">
                        <div class="input-together">
                            <input name="name" type="text" placeholder="Nombre(s)" class="register-input" autocomplete="name"
                                required>
                            <input name="surname" type="text" placeholder="Apellido(s)" class="register-input"
                                required><br>
                        </div>
                        <input name="email" type="email" placeholder="Correo" class="register-input" required><br>
                        <input name="password" type="password" placeholder="Contraseña" class="register-input" required
                            pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{6,}"><br>
                        <input name="password_2" type="password" placeholder="Confirmar contraseña"
                            class="register-input" required><br>
                        <input name="image" type="file" class="form-control" aria-describedby="fileHelpId" />

                        <input type="submit" value="Registrar" class="registrar">
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Agregar Producto -->
    <div class="modal fade" id="id-modal-agregar-producto" tabindex="-1" data-bs-backdrop="static"
        data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleId">
                        Agregar Producto
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="">

                        <input id="name" type="text" placeholder="Marca" class="register-input" required>
                        <input id="input_apellidos" type="text" placeholder="Titulo" class="register-input" required>
                        <input id="input_apellidos" type="text" placeholder="Categoria" class="register-input" required>
                        <textarea class="form-control" name="" id="" rows="3" placeholder="Descripcion"
                            required></textarea>
                        <input type="file" class="form-control" aria-describedby="fileHelpId" required /><br>
                        <div class="mb-3">
                            <select id="combobox-piezas-producto" class="form-select form-select-md" placeholder="Pieza"
                                required>
                                <option value="" disabled selected hidden>Pieza</option>
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                            </select>
                            <input type="number" class="input-stock" placeholder="Stock" min="1" required>
                            <input type="number" class="input-precio" placeholder="Precio por unidad" min="1" required>
                        </div>

                        <input type="submit" value="Registrar" class="registrar">
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Eliminar Administrador -->
    <div class="modal fade" id="id-modal-eliminar-administrador" tabindex="-1" data-bs-backdrop="static"
        data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleId">
                        Eliminar Administrador
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-borderless table-primary align-middle">
                            <thead class="table-light">
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre(s)</th>
                                    <th>Apellidos(s)</th>
                                    <th>Correo</th>
                                </tr>
                            </thead>

                            <tbody class="table-group-divider">
                                <tr class="table-primary">
                                    <td scope="row">1</td>
                                    <td>Mario Jesus Armando</td>
                                    <td>Solis Nieves</td>
                                    <td>bulnaro@support.com</td>
                                </tr>
                                <tr class="table-primary">
                                    <td scope="row">2</td>
                                    <td>Jesus Emmanuel</td>
                                    <td>Guzman Covarrubias</td>
                                    <td>guzman@support.com</td>
                                </tr>
                            </tbody>

                            <tfoot>

                            </tfoot>
                        </table>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Editar/Eliminar Producto -->
    <div class="modal fade" id="id-modal-EE-producto" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
        role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleId">
                        Editar/Eliminar Producto
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="buscador">
                    <form class="d-flex my-2 my-lg-0">
                        <input id="searchInput" class="form-control me-sm-2" type="text"
                            placeholder="Buscar productos" />
                        <button id="searchInput" class="btn btn-outline-success" type="submit">Buscar</button>
                    </form>
                </div>

                <div class="modal-body-tabla">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-borderless table-primary align-middle">
                            <thead class="table-light">
                                <tr>
                                    <th>ID</th>
                                    <th>Marca</th>
                                    <th>Titulo</th>
                                    <th>Categoria</th>
                                    <th>Descripcion</th>
                                    <th>Imagen</th>
                                    <th>Pieza</th>
                                    <th>Kilogramo</th>
                                    <th>Stock</th>
                                    <th>Precio</th>
                                </tr>
                            </thead>

                            <tbody class="table-group-divider">
                                <tr class="table-primary">
                                    <td scope="row">1</td>
                                    <td>NUPEC</td>
                                    <td>Nutrición canina científica</td>
                                    <td>Adulto raza pequeña</td>
                                    <td>Contenido adecuado de energía para el metabolismo de las razas pequeñas</td>
                                    <td>https://nupec.com/wp-content/uploads/2018/12/npc-empaque-adulto-raza-pequena.png
                                    </td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>100</td>
                                    <td>499</td>
                                </tr>
                                <tr class="table-primary">
                                    <td scope="row">2</td>
                                    <td>Pedigree</td>
                                    <td>Alimento seco</td>
                                    <td>Adulto</td>
                                    <td>Balance natural Croquetas adulto con res y vegetales</td>
                                    <td>https://www.pedigree.com.mx/cdn-cgi/image/format=auto,q=90/sites/g/files/fnmzdf1501/files/2022-10/706460236538-product-image-1.png
                                    </td>
                                    <td>1</td>
                                    <td>4</td>
                                    <td>100</td>
                                    <td>299</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr class="hr-divisor">
                <div class="modal-body-form">
                    <form action="" class="div-div">
                        <input id="name" type="text" placeholder="Marca" class="act-producto" required>
                        <input id="input_apellidos" type="text" placeholder="Titulo" class="act-producto" required>
                        <input id="input_apellidos" type="text" placeholder="Categoria" class="act-producto" required>
                        <textarea class="form-control" name="" id="" rows="3" placeholder="Descripcion"
                            required></textarea>
                        <input type="file" class="form-control" aria-describedby="fileHelpId" required /><br>
                        <div class="mb-3">
                            <select id="combobox-piezas-producto" class="form-select form-select-md" placeholder="Pieza"
                                required>
                                <option value="" disabled selected hidden>Pieza</option>
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                            </select>
                            <input type="number" class="input-stock" placeholder="Stock" min="1" required>
                            <input type="number" class="input-precio" placeholder="Precio por unidad" min="1" required>
                        </div>
                        <input type="submit" value="Actualizar" class="actualizar">
                        <input type="submit" value="Eliminar" class="eliminar">
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Discrepancias-->
    <div class="modal fade" id="id-modal-discrepancias" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
        role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleId">
                        Eliminar Administrador
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-borderless table-primary align-middle">
                            <thead class="table-light">
                                <tr>
                                    <th>ID</th>
                                    <th>Discrepancia</th>
                                </tr>
                            </thead>

                            <tbody class="table-group-divider">
                                <tr class="table-primary">
                                    <td scope="row">1</td>
                                    <td>
                                        <p>
                                            Mientras navegaba por la tienda en línea, me encontré con una amplia
                                            selección de sabores tentadores para perros, que incluían opciones como
                                            pollo asado, cordero y arroz, y salmón con batata. Sin embargo, al buscar
                                            opciones para mi amado gato, me decepcionó ver que las croquetas estaban
                                            disponibles principalmente en sabores de pollo y pescado. Como dueño de un
                                            gato que conoce sus preferencias alimenticias, esperaba encontrar una
                                            variedad más amplia de opciones que reflejaran la diversidad de sabores que
                                            a mi gato le gusta disfrutar. Esta discrepancia me dejó preguntándome si
                                            debería considerar cambiar a otra tienda en línea que ofrezca una gama más
                                            amplia de sabores para satisfacer las exigentes papilas gustativas de mi
                                            gato.
                                        </p>
                                    </td>
                                </tr>
                                <tr class="table-primary">
                                    <td scope="row">2</td>
                                    <td>
                                        <p>
                                            Como cliente, apreciaría mucho si la tienda en línea proporcionara
                                            información adicional sobre las diferencias entre los productos para perros
                                            y gatos. Sería útil recibir orientación sobre cómo elegir el producto más
                                            adecuado para mi mascota. Por ejemplo, me gustaría saber qué características
                                            específicas de las croquetas son más importantes para los perros en
                                            comparación con los gatos, y cómo estas diferencias pueden afectar la salud
                                            y el bienestar de mis mascotas. Sería genial si la tienda organizara
                                            sesiones educativas en línea o creara materiales informativos que me
                                            ayudaran a tomar decisiones informadas al elegir alimentos para mi perro o
                                            gato. Además, tener detalles claros y fácilmente accesibles en la plataforma
                                            de comercio electrónico de la tienda sería de gran ayuda para asegurarme de
                                            seleccionar el producto más adecuado para mis necesidades específicas.
                                        </p>
                                    </td>
                                </tr>
                            </tbody>

                            <tfoot>

                            </tfoot>
                        </table>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Configurar Administrador -->
    <div class="modal fade" id="id-modal-configurar-administrador" tabindex="-1" data-bs-backdrop="static"
        data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xmd" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleId">
                        Configurar Administrador
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="">
                        <div class="input-together">
                            <input id="name" "text" placeholder="Nombre(s)" class="register-input" autocomplete="name"
                                required>
                            <input id="input_apellidos" type="text" placeholder="Apellido(s)" class="register-input"
                                required><br>
                        </div>
                        <input id="input_email_registro" type="email" class="register-input" readonly><br>
                        <input id="input_password_registro" type="password" placeholder="Contraseña"
                            class="register-input" required pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{6,}"><br>
                        <input id="input_password2_registro" type="password" placeholder="Confirmar contraseña"
                            class="register-input" required><br>

                        <input type="file" class="form-control" aria-describedby="fileHelpId" />

                        <input type="submit" value="Guardar" class="registrar">
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>