nav {
    background-color: rgb(53, 58, 64);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav .navbar-brand {
    color: white;
    font-size: larger;
    font-weight: bold;
    text-align: left;
    margin-left: 15px;
}

nav .navbar-brand:hover {
    color: rgb(153, 156, 161);
}

nav div .form-control {
    width: 500px;
}

nav div .boton__ {
    color: rgb(153, 156, 161);
    border: 1px solid rgb(153, 156, 161);
    margin-right: 10px;
}

.pasos-compra {
    display: flex;
    justify-content: center;
    background-color: rgb(234, 236, 238);
    padding: 30px;
}

.pasos-compra h3 {
    padding: 40px 90px;
    width: 100;
}

.pasos-compra h3:first-of-type {
    color: #2874A6;
    font-weight: 700;
    border-bottom: solid;
}

.pasos-compra h3:not(:first-of-type) {
    color: #ABB2B9 ;
    font-weight: 700;
    border-bottom: solid;
}

h1 {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 40px;
}

h4 {
    margin-left: 30px;
    width: 355px;
    padding: 20px 0px;
}

.media {
    display: flex;
    margin-right: 40px;
    margin-left: 40px;
    height: 280px;
    width: 760px;
    border: 2px solid rgb(153, 156, 161);
}

.media-body {
    margin-left: 200px;
}

span {
    display: flex;
    width: 30px;
    height: 30px;
    margin-left: 515px;
    margin-top: -50px;
}


.media-2 {
    display: flex;
    flex-wrap: wrap;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-top: 15px;
    width: 420px;
    height: auto;
    border-radius: 5px;
    border: 2px solid rgb(153, 156, 161);
}

.trash {
    margin-top: -220px;
    margin-left: 560px;
    background-color: red;
    border-radius: 5px;
    padding: 5px 8px;
}

.icon-trash {
    color: white;
    font-size: large;
    margin-left: -1px;
}

.resumen-together {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

img {
    width: 135px;
    margin: 15px;
    padding: 10px;
    border: 2px solid rgb(153, 156, 161);
    border-radius: 5px;
}


p.t-compra {
    justify-content: center;
    font-weight: 500;
    text-align: left;
    margin-left: 30px;
    margin-top: 20px;
}

div[class="inp-1"] button {
    font-weight: bold;
    font-size: x-large;
    background-color: white;
    color: rgb(97, 180, 115);
    width: 380px;
    margin-left: 5%;
    margin-bottom: 30px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    border: 2px solid rgb(97, 180, 115);
} 

div[class="inp-2"] input {
    font-weight: bold;
    font-size: x-large;
    background-color: white;
    color: red;
    width: 380px;
    margin-left: 5%;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: 2px solid red;
} 

.contenedor-compras { 
    margin-right: 50px;
    width: 620px;
    height: 250px;
}

.hr-divisor {
    width: 620px;
    border: 2px solid rgb(153, 156, 161);
}

.hr-divisor-ticket {
    border: 1px solid;
    margin-left: 10px;
    margin-right: -20px;
}

.contenedor-cantidad {
    margin-left: 200px;
}

.c-cantidad {
    width: 100px;
    height: 40px;
    text-align: center;
    font-size: larger;
    font-weight: 700;
    border: 2px solid rgb(153, 156, 161);
    border-radius: 5px;
}

.texto-piezas {
    font-size: larger;
    font-weight: 700;
}

.alineador {
    display: flex;
    flex-wrap: wrap;
    margin-left: 300px;
    margin-top: 100px;
    text-align: center;
}

.contenedor-info {
    margin-top: -205px;
    margin-left: 155px;
}

.contenedor-info-p {
    margin-top: -35px;
    margin-left: 125px;
}

h5 {
    width: 400px;
}

p.descripcion {
    height: 110px;
    width: 345px;
    margin-left: 30px;
    margin-top: 30px;
}

.precio-label {
    font-size: 36px;
    margin-top: -20px;
    margin-left: 30px;
}